<div class="row" id="homepage">
  <div class="col-xs-12 text-center">
    <%= image_tag "Title2", class: "col-xs-12" %>
    <h3>Connecting the world together</h3>
    <p>We provide a single platform for the simple exchange of every social connection a user may want.</p>

    <div class="col-xs-12">
      <button class="col-xs-4 col-xs-offset-1 btn btn-default">Login</button>
      <button class="col-xs-4 col-xs-offset-2 btn btn-default">Sign up</button>
    </div>
  </div>
</div>
