// Bootstrap updates below

// Bootstrap updates above

@import "bootstrap-sprockets";
@import "bootstrap";
@import "navbar";
@import "home";
@import "authentication";
@import "account";

// Code-wide styles below
footer {
  padding-top: 14px;
  padding-bottom: 6px;
  background: black;
  color: grey;

  p {
    margin-bottom: 1px;
  }

  ul {
    a {
      color: grey;
    }
    a:hover {
      color: #f4b841;
      text-decoration: none;
    }
  }
}
// Code-wide styles above
